.post__icons {
    position: absolute;
    left: -110px;
    top: 8px;
    display: none;
}

.post:hover .post__icons {
  display: block !important;
}

.post__text:target:hover .post__icons {
  display: block;
}